<!-- ***** Footer Start ***** -->
<footer>
    <div class="container">
        <div class="row">
            <div class="col-lg-5 col-md-12 col-sm-12">
                <img src="assets/images/alpha-footer.png" class="alphafooter-icon" alt="">
                <div class="text mt-4">AlphaDevs is a group of like-minded people working towards the goal of
                    leveraging technology to make the world around them better.
                    <p>Our team consists of people with a variety of skills, ranging from software development to
                        IoT, AI etc. Putting the same skills to use has yielded us a good track record in number of
                        events and competitions as well.</p>
                </div>
            </div>
            <div class="col-lg-2 col-md-4 col-sm-6 col-6">
                <h5>Helpful Links</h5>
                <ul class="footer-nav">
                    <li><a href="index"><i class="fa fa-angle-right"></i><span>Home</span></a></li>
                    <li><a href="our-work"><i class="fa fa-angle-right"></i><span>Our Work</span></a></li>
                    <li><a href="about-us"><i class="fa fa-angle-right"></i><span>About Us</span></a></li>
                    <li><a href="services"><i class="fa fa-angle-right"></i><span>Services</span></a></li>
                    <li><a href="contact"><i class="fa fa-angle-right"></i><span>Contact Us</span></a></li>
                </ul>
            </div>
            <div class="col-lg-2 col-md-4 col-sm-6 col-7 pr-0 app-margin">
                <h5>Our Work</h5>
                <ul class="footer-nav">
                    <li><a href="https://anndata.co.in/" target="_blank"><i
                                class="fa fa-angle-right"></i><span>Anndata</span></a></li>
                    <li><a href="http://myfurries.com/"><i class="fa fa-angle-right"></i><span>My Furries</span></a>
                    </li>
                    <li><a href="our-work"><i class="fa fa-angle-right"></i><span>ATL++</span></a></li>
                    <li><a href="https://youtu.be/1tdWHL4j9EM" target="_blank"><i
                                class="fa fa-angle-right"></i><span>Covid-19 platform</span></a></li>


                </ul>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-12">
                <h5>Contact Us</h5>
                <div class="address">

                    <p><span>E-Mail:</span><a href="#">alphadevs.info@gmail.com</a></p>
                    <ul class="social">
                        <li><a href="https://m.facebook.com/Alphadevs11/" target="_blank"><i
                                    class="fa fa-facebook-square"></i></a></li>
                        <li><a href=" https://twitter.com/Alphadevs1?s=08" target="_blank"><i
                                    class="fa fa-twitter"></i></a></li>
                        <li><a href="https://www.linkedin.com/company/thealphadevs/" target="_blank"><i
                                    class="fa fa-linkedin-square"></i></a></li>
                        <li><a href="https://instagram.com/alpha_devs?igshid=1nx5ce20x4edk" target="_blank"><i
                                    class="fa fa-instagram"></i></a></li>

                        <li><a href="https://github.com/orgs/thealphadevs/dashboard" target="_blank"><i
                                    class="fa fa-github"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <p class="copyright">Copyright &copy
                    <script>document.write(new Date().getFullYear());</script> All rights reserved | Developed by
                    Alpha Devs</span> <img src="/assets/images/Alphaicon.png" alt="" style="width: 30px;height: 20px;">
                </p>
            </div>
        </div>
    </div>
</footer>
<!-- ***** Footer Start ***** -->



<!-- jQuery -->
<script src="assets/js/jquery-2.1.0.min.js"></script>

<!-- Bootstrap -->
<script src="assets/js/popper.js"></script>
<script src="assets/js/bootstrap.min.js"></script>

<!-- Plugins -->
<script src="assets/js/scrollreveal.min.js"></script>
<script src="assets/js/parallax.min.js"></script>
<script src="assets/js/jquery.magnific-popup.min.js"></script>
<script src="assets/js/imgfix.min.js"></script>

<!-- Global Init -->
<script src="assets/js/custom.js"></script>

</body>

<!-- Mirrored from demo.tempload.com/beapp-1-1/about-us by HTTrack Website Copier/3.x [XR&CO'2014], Tue, 05 May 2020 05:47:39 GMT -->

</html>