<%- include('partials/header') %>


<section class="page">
	<!-- ***** Page Top Start ***** -->
	<div class="cover bg-image-top" data-image="assets/images/photos/parallax.jpg">
		<div class="page-top">
			<div class="container">
				<div class="row">
					<div class="col-lg-12">
						<h1>Our Community</h1>
					</div>
					<div class="col-lg-12">
						<ol class="breadcrumb">
							<li><a href="index">Home</a></li>
							<li class="active">About Us</li>
						</ol>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- ***** Page Top End ***** -->







	<!-- ***** Page Content End ***** -->
</section>


<section class="section services-section pbottom-70">
	<div class="container">
		<div class="row">
			<!-- ***** Home About Start ***** -->
			<div class="col-lg-6 col-md-12 col-sm-12 center-text sanctuary-logo">
				<img src="/assests/svgs/chatbot.svg" alt="" style="margin-top:40%">
			</div>
			<div class="col-lg-5 col-md-12 col-sm-12 align-self-bottom">
				<div class="left-heading center-text">
					<img src="/assets/images/Logo/alpha_sanc.png" alt="" style="width: 70%;height: 80%;">
				</div>
				<div class="left-text text-justify" style="margin-top: -60px;">
					<p class="dark">The Tech community, Alpha Sanctuary has been made, keeping in mind, how as
						engineering students its important for us to have a platform to exchange ideas, meet with
						new people for building long lasting teams and work on different projects with different
						teams. </p>
				</div>

			</div>
			<!-- ***** Home About End ***** -->

			<!-- ***** Home Services Start ***** -->

		</div>
		<!-- ***** Home Services End ***** -->
	</div>
	</div>
</section>





<section class="section services-section pbottom-70">
	<div class="container description-community">
		<div class="row">

			<div class="offset-lg-1 col-lg-10">
				<div style=" color: rgb(145, 145, 145);font-size: 18px;">
					<h1 class="">Description</h1>
					<p>By joining Alpha Sanctuary, you'll be able to find different people from different background
						and have an opportunity to be part of a strong community that has been built solely for the
						purpose of exchange of ideas ,improvement of skills and team building. <br> <br>

						The purpose simply put is for us to brainstorm together on different projects and ideas and
						work on them to gain experience and learn. <br> <br>
						Seeing how corona virus has forced everyone into lockdown, being part of a community like
						this has become ever more important. <br> <br>

						I hope you'll be able to find people to share ideas with or work with on this channel.</p>

				</div>
			</div>

		</div>
	</div>
</section>

<div class="section ">
	<div class="container " style="margin-top: -120px;">
		<div class="row justify-content-center">
			<a href="https://t.me/joinchat/QoB8qUYEztrm9ofTzzABZg" class="btn-primary-line community-btn ">Join Our
				Community</a>
		</div>
	</div>
</div>

<!-- ***** Parallax End ***** -->

<!-- ***** Our Team Start ***** -->
<!-- <section class="section pbottom-70">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<div class="center-heading">
						<h2 class="section-title">Our Team</h2>
					</div>
				</div>
				<div class="offset-lg-3 col-lg-6">
					<div class="center-text">
						<p>Fusce placerat pretium mauris, vel sollicitudin elit lacinia vitae. Quisque sit amet nisi erat.</p>
					</div>					
				</div>
			</div>
			<div class="row">
				<div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
					<div class="team-item">
						<div class="header">
							<div class="img">
								<img src="assets/images/photos/team/1.jpg" alt="">
							</div>
							<div class="info">
								<strong>Fletch Skinner</strong>
								<span>Product Strategist</span>
							</div>
						</div>
						<div class="body">
							Proin arcu ligula, malesuada id tincidunt laoreet, facilisis at justo. Sed at lorem malesuada.
						</div>
						<ul class="social">
							<li><a href="#"><i class="fa fa-facebook"></i></a></li>
							<li><a href="#"><i class="fa fa-twitter"></i></a></li>
							<li><a href="#"><i class="fa fa-linkedin"></i></a></li>
							<li><a href="#"><i class="fa fa-github"></i></a></li>
						</ul>
					</div>
				</div>
				<div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
					<div class="team-item">
						<div class="header">
							<div class="img">
								<img src="assets/images/photos/team/2.jpg" alt="">
							</div>
							<div class="info">
								<strong>Lance Bogrol</strong>
								<span>Visual Designer</span>
							</div>
						</div>
						<div class="body">
							Proin arcu ligula, malesuada id tincidunt laoreet, facilisis at justo. Sed at lorem malesuada.
						</div>
						<ul class="social">
							<li><a href="#"><i class="fa fa-facebook"></i></a></li>
							<li><a href="#"><i class="fa fa-twitter"></i></a></li>
							<li><a href="#"><i class="fa fa-linkedin"></i></a></li>
							<li><a href="#"><i class="fa fa-github"></i></a></li>
						</ul>
					</div>
				</div>
				<div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
					<div class="team-item">
						<div class="header">
							<div class="img">
								<img src="assets/images/photos/team/3.jpg" alt="">
							</div>
							<div class="info">
								<strong>Valentino Morose</strong>
								<span>Android Developer</span>
							</div>
						</div>
						<div class="body">
							Proin arcu ligula, malesuada id tincidunt laoreet, facilisis at justo. Sed at lorem malesuada.
						</div>
						<ul class="social">
							<li><a href="#"><i class="fa fa-facebook"></i></a></li>
							<li><a href="#"><i class="fa fa-twitter"></i></a></li>
							<li><a href="#"><i class="fa fa-linkedin"></i></a></li>
							<li><a href="#"><i class="fa fa-github"></i></a></li>
						</ul>
					</div>
				</div>
				<div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
					<div class="team-item">
						<div class="header">
							<div class="img">
								<img src="assets/images/photos/team/4.jpg" alt="">
							</div>
							<div class="info">
								<strong>Giles Posture</strong>
								<span>iOS Developer</span>
							</div>
						</div>
						<div class="body">
							Proin arcu ligula, malesuada id tincidunt laoreet, facilisis at justo. Sed at lorem malesuada.
						</div>
						<ul class="social">
							<li><a href="#"><i class="fa fa-facebook"></i></a></li>
							<li><a href="#"><i class="fa fa-twitter"></i></a></li>
							<li><a href="#"><i class="fa fa-linkedin"></i></a></li>
							<li><a href="#"><i class="fa fa-github"></i></a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</section> -->
<!-- ***** Our Team End ***** -->


<%- include('partials/footer') %>