<%- include('partials/header') %>

	<!-- ***** Wellcome Area Start ***** -->
	<section class="welcome-area">
		<!-- ***** Wellcome Area Background Start ***** -->
		<div class="welcome-bg" data-bg="">
			<img src="assets/images/bg-bottom.svg" alt="">
		</div>
		<!-- ***** Wellcome Area Background End ***** -->

		<!-- ***** Wellcome Area Content Start ***** -->
		<div class="welcome-content">
			<div class="container">
				<div class="row">
					<div class="col-lg-5 col-md-12 col-sm-12 col-xs-12 align-self-center mt-5 mt-sm-1">
						<h3 class="hero-heading">You bring the ideas, we do the rest</h3>
						<h1 class="Alpha-hero"> ALPHADEVS</h1>
						<p style="margin-top: -10px;">IDEATE | DESIGN | DEVELOP | DEPLOY</p>
						<a class="btn-white-line" href="our-work">OUR WORK</a>
					</div>
					<div class="offset-lg-1 col-lg-6 col-md-12 col-sm-12 col-xs-12 align-self-center">
						<div class="apps">
							<div class="container-fluid">
								<!-- <img src="/assests/svgs/3411109-removebg-preview.png" alt="" width="80%"
									style="border-radius: 10px;"> -->
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- ***** Wellcome Area Content End ***** -->
	</section>
	<!-- ***** Wellcome Area End ***** -->


	<!-- ***** Home About - Services Start ***** -->
	<section class="section services-section pbottom-70">
		<div class="container">
			<div class="row">
				<!-- ***** Home About Start ***** -->
				<div class="col-lg-5 col-md-12 col-sm-12 align-self-bottom" style="margin-top: 12%;">
					<div class="left-heading">
						<h2 class="section-title">ABOUT US</h2>
					</div>
					<div class="left-text text-justify">
						<p class="dark">AlphaDevs is a group of like-minded people working towards the goal of
							leveraging technology to make the world around them better.</p>
						<p>Our team consists of people with a variety of skills, ranging from software development to
							IoT, AI etc. Putting the same skills to use has yielded us a good track record in number of
							events and competitions as well. </p>
					</div>
					<a href="services" class="btn-primary-line">OUR SERVICES</a>
				</div>
				<!-- ***** Home About End ***** -->

				<!-- ***** Home Services Start ***** -->
				<div class="offset-lg-1 col-lg-6 col-md-12 col-sm-12">
					<img src="assests/svgs/build  product.svg" alt="">
				</div>
			</div>
			<!-- ***** Home Services End ***** -->
		</div>
		</div>
	</section>

	<!-- ***** Blog Start ***** -->
	<section class="section pbottom-70 section background">
		<div class="container">
			<div class="row ">
				<div class="col-lg-12">
					<div class="center-heading">
						<h2 class="section-title">Our Latest Work</h2>
					</div>
				</div>
				<div class="offset-sm-1 col-lg-10 ">
					<div class=" center-text ">
						<p>Take a moment to view some of our latest work. While most of the sites below were built by us
							from the ground up, we experience a wide range of involvement with our client’s
							requirements. We do everything from web design, web/app development, consulting,
							maintenance, graphics, marketing, and everything in between!</p>
					</div>
				</div>
			</div>
			<div class="row justify-content-center">
				<div class="col-lg-4 col-md-6 col-sm-12 home-work-margin">
					<div class="blog-post-thumb">
						<div class="img">
							<img src="assets/images/photos/blog/21.png" alt="">
						</div>
						<h3>
							<H4 class="work-heading">Anndata</H4>
						</h3>
						<div class="text">
							A web-app developed to solve the issue of huger crisis, by helping the people who want to
							donate food get in touch with people who are in need of food.
						</div>

					</div>
					<div class="row justify-content-center">
						<a href="https://anndata.co.in/" class="btn-primary-line " target="_blank">Know More</a>
					</div>
				</div>
				<div class="col-lg-4 col-md-6 col-sm-12 home-work-margin ">
					<div class="blog-post-thumb">
						<div class="img">
							<img src="assets/images/photos/blog/22.png" alt="">
						</div>
						<h3>
							<H4 class="work-heading ">My Furries</H4>
						</h3>
						<div class="text ">
							A web portal developed to cater to all the needs of pet. Its similar to a social media
							platform but for pet care.
						</div>

					</div>
					<div class="row justify-content-center " style="margin-top: 56px;">
						<a href="http://myfurries.com/" target="_blank" class="btn-primary-line ">Know More</a>
					</div>
				</div>
				<div class="col-lg-4 col-md-6 col-sm-12 home-work-margin">
					<div class="blog-post-thumb">
						<div class="img">
							<img src="assets/images/photos/blog/23.png" alt="">
						</div>
						<h3>
							<H4 class="work-heading">Incubate IND</H4>
						</h3>
						<div class="text">
							A platform built by our team working in Incubate IND , which is focused on elevating
							entrepreneurship through technology.
						</div>

					</div>
					<div class="row justify-content-center" style="margin-top: 54px;">
						<a href="https://incubateind.com" class="btn-primary-line " target="_blank">Know More</a>
					</div>
				</div>
			</div>






			<div class="row ">
				<div class="col-lg-12" style="margin-top: 5%;">
					<div class="center-heading">
						<h2 class="section-title">Our Initiatives</h2>
					</div>
				</div>
				<div class="offset-sm-1 col-lg-10 ">
					<div class=" center-text ">
						<p>While we are always focused on delivering the very best to our clients, we also have our own
							ventures and initiatives that we've been working on.</p>
					</div>
				</div>
			</div>
			<div class="row justify-content-center">

				<div class="col-lg-4 col-md-6 col-sm-12 home-work-margin ">
					<div class="blog-post-thumb">
						<div class="img">
							<img src="assets/images/photos/blog/32.png" alt="">
						</div>
						<h3>
							<H4 class="work-heading ">ATL++</H4>
						</h3>
						<div class="text ">
							An edu-tech initiative, based around leveraging AI and Robotics to enhance the existing
							education system.
						</div>

					</div>
					<div class="row justify-content-center " style="margin-top: 56px;">
						<button href="our-work" class="btn-primary-line " disabled>Know More</button>
					</div>
				</div>
				<div class="col-lg-4 col-md-6 col-sm-12 home-work-margin">
					<div class="blog-post-thumb">
						<div class="img">
							<img src="assets/images/photos/blog/33.png" alt="" style="height: 175%;width: 110%;">
						</div>
						<h3>
							<H4 class="work-heading">Covid-19 platform</H4>
						</h3>
						<div class="text">
							An incentivised news sharing platform, that curbs the spread of fake news which has proven
							to be very harmful.
						</div>

					</div>
					<div class="row justify-content-center" style="margin-top: 54px;">
						<a href="https://youtu.be/1tdWHL4j9EM" class="btn-primary-line " target="_blank">Know More</a>
					</div>
				</div>
			</div>







		</div>


		</div>
	</section>
	<!-- ***** Blog End ***** -->

	<!-- ***** Home About - Services Start ***** -->


	<!-- ***** Features Start ***** -->
	<!-- <section class="section background">
		<div class="container">
			<div class="row">
				<div class="col-lg-5 col-md-12 col-sm-12 col-xs-12 align-self-center">
					<img src="assets/images/mockup/home-mockup.png" class="img-fluid d-block mx-auto" alt="">
				</div>
				<div class="col-lg-7 col-md-12 col-sm-12 col-xs-12 align-self-center">
					<ul class="features">
						<li data-scroll-reveal="enter bottom move 30px over 0.6s after 0.2s">
							<div class="count">
								<span>1</span>
							</div>
							<div class="text">
								<h5 class="title">Design and UX that ensures your app will be loved and used</h5>
								<p>Quisque nec consectetur arcu. Duis tellus ante, sodales sed molestie at, sagittis id
									neque. Quisque condimentum libero arcu. Mauris tellus sem, ultrices varius nisl at.
								</p>
							</div>
						</li>
						<li data-scroll-reveal="enter bottom move 30px over 0.6s after 0.3s">
							<div class="count">
								<span>2</span>
							</div>
							<div class="text">
								<h5 class="title">Enterprise-grade development secures reliability and quality</h5>
								<p>Praesent tortor nulla, ullamcorper vel ante at, varius tincidunt augue. Cras vitae
									consectetur arcu. Proin at velit vel risus elementum accumsan sed non neque. Aenean
									risus.</p>
							</div>
						</li>
						<li data-scroll-reveal="enter bottom move 30px over 0.6s after 0.4s">
							<div class="count">
								<span>3</span>
							</div>
							<div class="text">
								<h5 class="title">A proven and tested process guarantees your success</h5>
								<p>Aliquam bibendum velit ut ante cursus, et efficitur lectus rutrum. Maecenas ac
									convallis lorem, non ultricies sem. Duis elit metus, ullamcorper sed ante sed,
									viverra bibendum neque.</p>
							</div>
						</li>
						<li data-scroll-reveal="enter bottom move 30px over 0.6s after 0.5s">
							<div class="count">
								<span>4</span>
							</div>
							<div class="text">
								<h5 class="title">Start-to-end app development agency</h5>
								<p>Cras imperdiet faucibus sem, a dignissim urna feugiat sed. Interdum et malesuada
									fames ac ante ipsum primis in faucibus. Pellentesque posuere vestibulum lorem.</p>
							</div>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</section> -->
	<!-- ***** Features End ***** -->

	<!-- ***** Counter Parallax Start ***** -->




	<!-- ***** Counter Parallax End ***** -->
	<!-- ***** Our Team Start ***** -->


	<!-- ***** Our Team End ***** -->
	<!-- ******COntact US ******* -->

	<!-- ***** Parallax Start ***** -->
	<section class="parallax ">
		<div class="parallax-content parallex-bg">
			<div class="container">
				<div class="row">
					<div class="col-lg-12">
						<div class="info ">

							<p class="justify-content-center "><strong>Want to discuss a project?</strong> </p>
							<a class="btn-white-line" href="contact">Contact Us</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- ***** Parallax End ***** -->

	<!-- ***** Footer Start ***** -->
	<footer>
		<div class="container">
			<div class="row">
				<div class="col-lg-5 col-md-12 col-sm-12">
					<img src="assets/images/alpha-footer.png" class="alphafooter-icon" alt="">
					<div class="text mt-4">AlphaDevs is a group of like-minded people working towards the goal of
						leveraging technology to make the world around them better.
						<p>Our team consists of people with a variety of skills, ranging from software development to
							IoT, AI etc. Putting the same skills to use has yielded us a good track record in number of
							events and competitions as well.</p>
					</div>
				</div>
				<div class="col-lg-2 col-md-4 col-sm-6 col-6">
					<h5>Helpful Links</h5>
					<ul class="footer-nav">
						<li><a href="index"><i class="fa fa-angle-right"></i><span>Home</span></a></li>
						<li><a href="our-work"><i class="fa fa-angle-right"></i><span>Our Work</span></a></li>
						<li><a href="about-us"><i class="fa fa-angle-right"></i><span>About Us</span></a></li>
						<li><a href="services"><i class="fa fa-angle-right"></i><span>Services</span></a></li>
						<li><a href="contact"><i class="fa fa-angle-right"></i><span>Contact Us</span></a></li>
					</ul>
				</div>
				<div class="col-lg-2 col-md-4 col-sm-6 col-7 pr-0 app-margin">
					<h5>Our Work</h5>
					<ul class="footer-nav">
						<li><a href="https://anndata.co.in/" target="_blank"><i
									class="fa fa-angle-right"></i><span>Anndata</span></a></li>
						<li><a href="http://myfurries.com/"><i class="fa fa-angle-right"></i><span>My Furries</span></a>
						</li>
						<li><a href="https://incubateind.com/" target="_blank"><i
									class="fa fa-angle-right"></i><span>Incubate IND</span></a></li>
						<li><a href="our-work"><i class="fa fa-angle-right"></i><span>ATL++</span></a></li>
						<li><a href="https://youtu.be/1tdWHL4j9EM" target="_blank"><i
									class="fa fa-angle-right"></i><span>Covid-19 platform</span></a></li>


					</ul>
				</div>
				<div class="col-lg-3 col-md-4 col-sm-12">
					<h5>Contact Us</h5>
					<div class="address">

						<p><span>E-Mail:</span><a href="#">alphadevs.info@gmail.com</a></p>
						<ul class="social">
							<li><a href="https://m.facebook.com/Alphadevs11/" target="_blank"><i
										class="fa fa-facebook-square"></i></a></li>
							<li><a href=" https://twitter.com/Alphadevs1?s=08" target="_blank"><i
										class="fa fa-twitter"></i></a></li>
							<li><a href="https://www.linkedin.com/company/thealphadevs/" target="_blank"><i
										class="fa fa-linkedin-square"></i></a></li>
							<li><a href="https://instagram.com/alpha_devs?igshid=1nx5ce20x4edk" target="_blank"><i
										class="fa fa-instagram"></i></a></li>

							<li><a href="https://github.com/orgs/thealphadevs/dashboard" target="_blank"><i
										class="fa fa-github"></i></a></li>
						</ul>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-12">
					<p class="copyright">Copyright &copy
						<script>document.write(new Date().getFullYear());</script> All rights reserved | Developed by
						Alpha Devs</span> <img src="/assets/images/Alphaicon.png" alt=""
							style="width: 30px;height: 20px;"></p>
				</div>
			</div>
		</div>
	</footer>
	<!-- ***** Footer Start ***** -->


	<!-- Particle JS -->
	<script src='https://cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js'></script>
	<script src="./script.js"></script>
	<!-- jQuery -->
	<script src="assets/js/jquery-2.1.0.min.js"></script>

	<!-- Bootstrap -->
	<script src="assets/js/popper.js"></script>
	<script src="assets/js/bootstrap.min.js"></script>

	<!-- Plugins -->
	<script src="assets/js/scrollreveal.min.js"></script>
	<script src="assets/js/parallax.min.js"></script>
	<script src="assets/js/waypoints.min.js"></script>
	<script src="assets/js/jquery.counterup.min.js"></script>
	<script src="assets/js/imgfix.min.js"></script>

	<!-- Global Init -->
	<script src="assets/js/custom.js"></script>

	<!-- Preloader -->
	<script>
		$(window).load(function () {
			// Animate loader off screen
			$(".preloader").fadeOut("slow");;
		});
	</script>
	<!-- Particle JS -->
	<script src='https://cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js'></script>
	<script src="assets/js/preloader.js"></script>
	<script src="./script.js"></script>

</body>

</html>
